body
{margin:0px;
  background-color: rgba(1,1,1,0.9);
  
}*
{
  font-family: 'Alegreya', serif;
}
.top
{margin:0px;
  height: 800px;
  background: url('/static/images/img48.jpg');
  background-size: cover;
   background-repeat: no-repeat;

}

.formm
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
  margin-left: 100px;
  margin-right: 100px;


  font-family: 'Alegreya', serif;
  color:#FFAF50 ;
   font-size: 30px;
}
input[type=submit]
{
   width: 100%;
  background-color: #FFAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=checkbox]
{
  height: 30px;
  width: 30px;

}
input[type=file]
{
  margin-bottom: 10px;
  font-size: 15px;
  color: orange;
 
  font-family: 'Alegreya', serif;
 border:1px orange solid;
 padding: 10px; 
 border-radius: 30px;
}
#profile
{
  border: 2px black solid; 
}
input[type=text], select {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=time], select {
  width: 50%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.backb
{
  
    background: url('/static/images/img47.jpg');
    
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-primary
{
   width: 30%;
  background-color: #FFAF50;
  color: white;
  padding: 7px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
font-size: 18px;


font-family: 'Alegreya', serif;

}
.btn-primary:hover {
  background-color: #45DDF7;
}
input[type=radio]
{
  width: 30px;
  height: 30px;

}
input[type=password],select
{
  width: 40%;
  height: 6
  0px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel],select
{
  
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email],select
{
  width: 40%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}