{% load static %}
</!DOCTYPE html>
<html >
<head>
	<title>RecommendME!!!- Customer Signup</title>
	<link rel="stylesheet" href="{% static '/cssFiles/userSignup.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script type="text/javascript" src="{% static '/javascriptFiles/userSignup.js' %}"></script>
</head>
<body >

		<div class='top'>
		
		<h3  style="font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center; color: white ;padding-top: 300px; font-size: 50px;opacity: 0.9">WELCOME</h3>

		<h1 style="font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center;color: white; font-size: 60px;opacity: 0.9" >Elegant SignUp form For Customers </h1>
		
	</div>
<div class='backb'>		
<div class='formm'>
	<form class='userSignupform' action="." method="POST"> {% csrf_token %}
		{{ form.as_p }}
		
<input type="submit" value="Submit" >

	</form>

</div>
</div>



</body>
</html>